@{
    ViewData["Title"] = "Thông tin chi tiết sản phẩm";
}

@using Kendo.Mvc.UI
@model SOHU.Data.Models.Product
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thông tin chi tiết sản phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Vật tư - thiết bị</a></li>
                    <li class="breadcrumb-item active"><a class="text-primary" asp-action="Index" asp-controller="Product">Danh sách</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-body">
                        <form asp-action="Save" asp-controller="Product">
                            @Html.HiddenFor(Model => Model.Id)
                            <div class="row">
                                <div class='col-md-9'>
                                </div>
                                <div class='col-md-1'>
                                    <button style="width:100%;" type="submit" title="Save" class="btn btn-primary">
                                        <span class="fas fa-save"></span>
                                    </button>
                                </div>
                                <div class='col-md-1'>
                                    <a asp-route-ID="0" asp-action="Detail" asp-controller="Product" title="Tạo mới" style="width:100%;" class="btn btn-success">
                                        <span class="fas fa-plus"></span>
                                    </a>
                                </div>
                                <div class='col-md-1'>
                                    <a asp-action="Index" asp-controller="Product" title="Danh sách" style="width:100%;" class="btn btn-info">
                                        <span class="fas fa-arrow-left"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class='form-group'>
                                        <label for='Title'>Vật tư - thiết bị</label>
                                        @(Html.TextBoxFor(Model => Model.Title, new { placeholder = "Vật tư - thiết bị", @class = "form-control" }))
                                    </div>
                                    <div class='form-group'>
                                        <label for='MetaTitle'>Ngắn gọn</label>
                                        @(Html.TextBoxFor(Model => Model.MetaTitle, new { placeholder = "Ngắn gọn", @class = "form-control" }))
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class='form-group'>
                                        <label for='CategoryId'>Nhóm</label>
                                        @(Html.Kendo().DropDownListFor(Model => Model.CategoryId)
                                   .DataValueField("Id")
                                   .DataTextField("CodeName")
                                   .HtmlAttributes(new {@class = "form-control" })
                                    .Filter(FilterType.Contains)
                                   .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetProductCategoryToList", "Config")))
                                    )
                                    </div>
                                    <div class='form-group'>
                                        <label for='QuantityInStock'>Số lượng tồn</label>
                                        @(Html.TextBoxFor(Model => Model.QuantityInStock, "{0:N0}", new { placeholder = "Số lượng tồn", @class = "form-control" }))
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-12">
                                        @Html.TextAreaFor(Model => Model.ContentMain)
                                        <script src="/ckeditor/ckeditor.js"></script>
                                        <script src="/ckeditor/adapters/jquery.js"></script>
                                        <script>
                                            CKEDITOR.replace("ContentMain", {
                                                on: {
                                                    'instanceReady': function (evt) {
                                                        evt.editor.resize("100%", "600");
                                                    }
                                                }
                                            });</script>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

