@{ ViewData["Title"] = "Bài viết - ";
    Layout = "~/Views/Shared/_CMSLayout.cshtml"; }
@model SOHU.Data.DataTransferObject.ModelTemplate
<script src="~/js/mustache.min.js"></script>
<script id="gridTemplate" type="x-tmpl-mustache">
    <table class="table table-bordered table-hover overflow-auto" style="overflow-x:auto;">
        <thead>
            <tr>
                <th class="bg-primary" style="cursor:pointer;" width="300"></th>
                <th class="bg-primary" style="cursor:pointer;" width="100">ID</th>
                <th class="bg-primary" style="cursor:pointer;" width="400">Bài viết</th>
                <th class="bg-primary" style="cursor:pointer;" width="400">Ngày sửa cuối</th>
                <th class="bg-primary" style="cursor:pointer;" width="300"></th>
            </tr>
        </thead>
        <tbody style="overflow-x:auto">
            {{#Data}}
            <tr style="table-layout:fixed;">
                <td width="300">
                    <div>
                        <a style="cursor:pointer; color:white;" class="btn btn-success" onclick="onOpenDetail({{Id}})"><i class="fas fa-external-link-alt"></i></a>
                        <button class="btn btn-danger" onclick="onConfirm({{Id}},'Product')"><i class="fas fa-trash"></i></button>
                    </div>
                </td>
                <td style="table-layout:fixed;" width="100">{{Id}}</td>
                <td style="table-layout:fixed;" width="400">{{Title}}</td>
                <td style="table-layout:fixed;" width="300">{{DateUpdated}}</td>
                <td style="table-layout:fixed;" width="300">
                    <div>
                        <a style="cursor:pointer; color:white;" class="btn btn-success" onclick="onOpenDetail({{Id}})"><i class="fas fa-external-link-alt"></i></a>
                        <button class="btn btn-danger" onclick="onConfirm({{Id}},'Product')"><i class="fas fa-trash"></i></button>
                    </div>
                </td>
            </tr>
            {{/Data}}
        </tbody>
    </table>
</script>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Bài viết</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a>CMS</a></li>
                    <li class="breadcrumb-item active"><a asp-action="Index" asp-controller="Product" class="text-primary">Bài viết</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card w-100" style="overflow-x:auto;">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div class="toolbar">
                            <a class="btn btn-success" asp-action="DetailCompact" asp-controller="Product" asp-route-ID="0"><i class="fas fa-plus text-white"></i></a>
                        </div>
                        <input type="text" placeholder="Search" class="form-control" style="flex-basis:20%;" />
                    </div>
                </div>
                <div class="card-body overflow-auto">
                    <div class="row">
                        <div class='col-sm-6'>
                            <select id="ID" data-selected="@Model.Id" asp-for="Id" class="form-control select2" style="width: 100%;">
                            </select>
                        </div>
                        <div class='col-sm-1'>
                            <button style="width:100%;" type="button" class="btn btn-success" onclick="onSearch()">
                                <span class="fas fa-search"></span>
                            </button>
                        </div>
                    </div>
                    <br />

                    <div id="grid">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="modal-area-content"></div>
<script>
    $(document).ready(() => {
        $.ajax({
            type: 'GET',
            url: "@Url.Action("GetMenuWebsiteToList", "Config")",
            data: {
            },
            success: (res) => {
                let dropDown = $('#ID');
                let selectID = $(dropDown).attr('data-selected');
                $.each(res, (index, item) => {
                    if (item.Id == selectID) {
                        dropDown.append("<option value='" + item.Id + "' selected>" + item.CodeName + "</option>");
                    }
                    else {
                        dropDown.append("<option value='" + item.Id + "'>" + item.CodeName + "</option>");
                    }
                });
            }
        });
        onSearch();
    })
    function onSearch() {
       fetchData();
    }
    function onOpenDetail(Id) {
        var url = "@Url.Action("DetailCompact", "Product")" + "?ID=" + Id;
        window.location.href = url;
    }

    function onConfirm(Id, Object) {
        $.ajax({
            type: 'GET',
            url: "@Url.Action("ConfirmDialog", "Product")",
            data: {
                Object: Object,
                Id: Id
            },
            success: (res) => {
                $("#modal-area-content").empty();
                $("#modal-area-content").html(res);
            }
        }).done(() => {
            Initialization(null, null, () => {
                fetchData();
                $("#modal-area-content").empty();
            });
        });
    }

    function fetchData() {
        var categoryIDValue = $("#ID").val();        
        $.ajax({
            type: 'GET',
            url: "@Url.Action("GetByCategoryIDToList", "Product")",
            data: {
                categoryID: categoryIDValue,
            },
            success: (res) => {
                console.log(res);
                var table = $("#gridTemplate").html();
                var grid = Mustache.render(table, { Data: res });
                $("#grid").empty();
                $("#grid").html(grid);
            }
        });
    }

    function Notify(type, message) {
        switch (type) {
            case "success":
                toastr.success(message);
                break;
            case "info":
                toastr.info(message);
                break;
            case "error":
                toastr.error(message);
                break;
            case "warning":
                toastr.warning(message);
                break;
        }
    }
</script>

