@using SOHU.Data.Models
@model List<Config>


@foreach (var item in Model)
{
    @*@if (item.Childrens.Any())
        {
            <li class="nav-item has-treeview">
                <a class="nav-link">
                    <i class="nav-icon @item.Item.CodenameSub"></i>
                    <p>
                        @item.Item.CodeName
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    @Html.Partial("~/Views/PMSMenu/_MenuLeft.cshtml", item.Childrens)
                </ul>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link" href="@item.Item.Note">
                    <i class="nav-icon @item.Item.CodenameSub"></i>
                    <p>
                        @item.Item.CodeName
                    </p>
                </a>
            </li>
        }*@
    <li class="nav-item">
        <a class="nav-link" href="@SOHU.Data.Helpers.AppGlobal.Domain@item.CodenameSub">
            <i class="nav-icon @item.Note"></i>
            <p>
                @item.CodeName
            </p>
        </a>
    </li>
}

<script>
    function setMenuLeftActive() {
        console.log(this.location.pathname);
        var tag = $('a[href="' + this.location.pathname + '"]');
        tag.addClass('active');
        var tag01 = tag.parent('li').parent('ul').parent('li');
        tag01.addClass('menu-open');
        var tag02 = tag.parent('li').parent('ul').parent('li').parent('ul').parent('li');
        tag02.addClass('menu-open');
    }

    jQuery(function ($) {
        setMenuLeftActive();
    });
</script>