@{ ViewData["Title"] = "Chi tiết - ";
    Layout = "~/Views/Shared/_CMSLayout.cshtml"; }
@model SOHU.Data.Models.Config
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Banner</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a>CMS</a></li>
                    <li class="breadcrumb-item active"><a asp-action="Banner" asp-controller="Config">Banner</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card w-100" style="overflow-x:auto;">
               
                <div class="card-body">
                    <form asp-action="SaveChangeBanner" asp-controller="Config" method="post" enctype="multipart/form-data">
                        <div class="card-header">
                            <div class="d-flex justify-content-between" style="float:right;">
                                <div class="toolbar">
                                    <button class="btn btn-primary" type="submit"><i class="fas fa-save text-white"></i></button>
                                    <a class="btn btn-success" asp-action="BannerDetail" asp-controller="Config" asp-route-ID="0"><i class="fas fa-file text-white"></i></a>
                                    <a class="btn btn-dark" asp-action="Banner" asp-controller="Config"><i class="fas fa-arrow-left"></i></a>
                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(Model => Model.Id)
                        @Html.HiddenFor(Model => Model.DateCreated)
                        @Html.HiddenFor(Model => Model.DateUpdated)
                        @Html.HiddenFor(Model => Model.UserCreated)
                        @Html.HiddenFor(Model => Model.UserUpdated)
                        @Html.HiddenFor(Model => Model.GroupName)
                        @Html.HiddenFor(Model => Model.Code)
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Tiêu đề</label>
                                    @Html.TextBoxFor(Model => Model.CodeName, new { @class = "form-control", placeholder = "Tiêu đề" })
                                </div>
                                <div class="form-group">
                                    <label for="name">Sort</label>
                                    @Html.TextBoxFor(Model => Model.SortOrder, new { @class = "form-control", placeholder = "Sort" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Image">Hình ảnh</label>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <img src="@Url.Content(SOHU.Data.Helpers.AppGlobal.Domain + SOHU.Data.Helpers.AppGlobal.URLImages + "/" + Model.CodenameSub)" alt="@Url.Content(Model.CodenameSub)" title="@Url.Content(Model.CodenameSub)" style="width:100%; height:100%;" class="img-thumbnail" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="file" name="fileToUpload" id="fileToUpload">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(() => {
        $('#ParentID').select2({
            theme: 'bootstrap4',
        });
    })

    function onSaveChange() {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("SaveChange","Config")",
            data: $("#membershipInfor").serialize(),
            success: (res) => {
                var messageType = res.split('-')[0];
                var note = res.split('-')[1];
                Notify(messageType.trim(), note);
            }
        });
    }

    function Notify(type, message) {
        switch (type) {
            case "success":
                toastr.success(message);
                break;
            case "info":
                toastr.info(message);
                break;
            case "error":
                toastr.error(message);
                break;
            case "warning":
                toastr.warning(message);
                break;
        }
    }
</script>

<script>
    $(document).ready(() => {
      
    })
</script>